* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: white;
  padding: 15% 15% 3% 8%;
  font-weight: bold;
}

#section3 {
  color: #1CCAD8;
  text-align: center;
  padding: 4% 15% 3%;
}

#trendhead {
  color: #1CCAD8;
  text-align: center;
  padding: 1.5% 15% 3%;
}

h2 {
  margin-bottom: 30px;
  color: #1CCAD8;
  font-weight: bolder;
  font-size: 2.5rem;
}

h5 {
  margin-left: 17px;
  text-align: center;
  margin-bottom: 15%;
  font-weight: bold;
  color: #2F97C1;
}

.trendsmallhead {
  color: black;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

a {
  color: purple;
}

b {
  font-size: 1rem;
}

p {
  margin-top: 26px;
  text-align: left;
  line-height: 1.5;
}

.trendpara {
  margin-top: 10px;
  margin-right: 15%;
  margin-left: 6%;
  margin-bottom: 5px;
  text-align: left;
}

.trendpara4 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 6%;
  text-align: left;
}

header {
  background-image: url(images/travel.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.uplist{
  font-weight: bold;
  border-bottom-style: solid blue;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 35px;
  font-size: 37px;
}

.btn1 {
  display: inline-block;
  margin-left: 50px;
  border-radius: 50px;
}

.btn2 {
  display: inline-block;
  margin-left: 5px;
  border-radius: 50px;
}

.testimonials {
  text-align: center;
  margin: 60px 126px;
}

.logo {
  padding-top: 50px;
  width: 100px;
  color: #1CCAD8;
}

.trust {
  padding-bottom: 3%;
}

.people {
  height: 250px;
  width: 273px;
  margin: 10px 1px 23px;
  padding: 0px 10px;
}

hr {
  width: 85%;
  margin-top: 1.7rem;
}

.trending {
  margin-bottom: 10%;
}

.trendimg {
  height: 160px;
  width: 315px;
  margin-bottom: 20px;
  padding-right: 20%;
  padding-left: 5%;
}

.trendbtn1 {
  margin: 24px 0;
  margin-left: 15px;
  cursor: pointer;
}

.trendbtn {
  margin-left: 15px;
}

.trendbtn2 {
  margin-top: 12px;
}

.footer {
  background-color: #1a1a1a;
}

.footerlist {
  margin-top: 30px;
  line-height: 0.9rem;
}

.footerhead {
  margin-bottom: 0px;
  margin-left: 0.5rem;
  margin-right: 70.5%;
  margin-top: 135px;
}

.footer2 {
  display: inline-block;
  margin-left: 90px;
  margin-top: 10px;
}

.com-link {
  margin: 1px 2px;
}

.secondcont{
  margin-left: 75%;
  padding-bottom: 60%;
}

.lastfoot{
  position: absolute;
  display:inline-block;
}
